#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #FFF89A;
  border: 2px solid#e5e4ff;
  border-radius: 40px;
  box-shadow: 6px 6px #f7ffe4, -1.5em 0 .4em #e4fffe;
  color: #FF8AAE;
}

.Feat {
  background: #FFB2A6;
  border: 2px solid#e5e4ff;
  border-radius: 40px;
  box-shadow: 6px 6px #f7ffe4, -1.5em 0 .4em #e4fffe;
  color: #FFF89A;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 0 0 16px white, 0 0 24px #0091ff;
}

p:hover {
  background-color: rgb(180, 247, 222);
  border-radius: 30px;
}

